.day {
  position: relative;
  flex: 1 0 14.28%;
  max-width: calc(100% / 7);
  min-height: 130px;
  padding: 10px;
  box-shadow: inset 0 1px 1px #000; }
  .day:hover .btn-new-reminder {
    opacity: 1; }
  .day.first-index-1 {
    margin-left: 14.28%; }
  .day.first-index-2 {
    margin-left: 28.56%; }
  .day.first-index-3 {
    margin-left: 42.84%; }
  .day.first-index-4 {
    margin-left: 57.12%; }
  .day.first-index-5 {
    margin-left: 71.4%; }
  .day.first-index-6 {
    margin-left: 85.68%; }
  .day.first-index-7 {
    margin-left: 99.96%; }
  .day header {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px; }
  .day .btn-new-reminder {
    position: absolute;
    bottom: 5px;
    right: 0;
    opacity: 0;
    transition: opacity 500ms;
    z-index: 1; }
    .day .btn-new-reminder .fas {
      font-size: 38px;
      color: rgba(0, 0, 0, 0.4); }
      .day .btn-new-reminder .fas:hover {
        color: #ffffff; }
